# Canonical sshd_config for Linux-server (v4)
Port 22
ListenAddress 0.0.0.0
PermitRootLogin prohibit-password  # v6.5: برگشت به کلید-فقط برای root
PubkeyAuthentication yes
PasswordAuthentication no  # v6.6: ورود فقط با کلید
KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
AllowUsers Hamid root
